<template name="usersList">
	<div class="usersList">
		<table class="table table-striped">
			<thead>
				<tr>
					<th id="memberTableID">ID</th>
					<th id="memberTableUsername">Username</th>
					<th id="memberTableRole">Role</th>
					<th id="memberTableRegistrationDate">Registration Date</th>
				</tr>
			</thead>
			<tbody>
				{{#each users}}
					<tr>
						<td>{{_id}}</td>
						<td>{{username}}</td>
						<td>{{roles}}</td>
						<td>{{createdAt}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</template>